@{
 ViewBag.Title = "Contact Us";
}
<form method="post">
    <lable>Name: </lable>
    <br />
    <input name="name" />
    <br />
    <lable>Email</lable>
    <br />
    <input type="email"  name="email"/>
    <br />
    <lable>Subject:</lable>
    <br />
    <input type="text" name="subject"/>
    <br />
    <lable>Message:</lable>
    <br />
    <textarea rows="4" name="message"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>